:root{
    --black: black;
    --white : white;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.display-result {

    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    text-align: right;
    border: 1px solid black;
    border-radius: 15px 15px 0 0;
}

span {
    margin-right: 10px;
}

.content {
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 10%;
    border-radius: 15px;
}

.display-operation {
    color: black;
    font-weight: bolder;
}

.button {
    width: 100%;
    font-weight: 500;
    background: white;
}

.button-container {
    padding: 0;
}

.button-space {
    padding: 0;
}

.row {
    margin: 0;
}

#result{
    font-weight: bold;
    font-size: large;
    color: rgb(0, 183, 255);
}

.operation-button{
    color: rgb(0, 183, 255);
}

.AC-button{
    color: tomato;
}

.result-button{
    color: white;
    background-color: rgb(0, 183, 255);
}

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #000000, #666060, #a3a3a3, #ffffff);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.extremitie-left{
    border-radius: 0 0 0 15px;
}

.extremitie-right{
    border-radius: 0 0 15px 0;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.header{
    display: flex;
    justify-content: center;
}

.theme-button{
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #39a2db59;
    cursor: pointer;
    background-color: rgb(0, 183, 255);
}

.ball{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    transition: left 1s;
}

.ball-move{
    left: calc(100% - 40px);
    background-color: #000000;
}

.dark{
    background-color: #39a2db;
}

.theme-container{
    display: flex;
    justify-content: center;
}

.light-theme{
    --bgColor: var(--black);
    --fontColor: var(--white);
}